###################################
# Follow Event
[macro follow]
tasks:
- {"channel": "alert", "message": "${event.userDisplayName} folgt nun", "asset": "follow"}

[asset follow]
icon: 'heart-outline'
sound: 'follow'
color: '66BB6A'
start_macros:
- start_alert_generic_animation
idle_macros:
- idle_alert_generic_animation
end_macros:
- end_alert_generic_animation

###################################
# Cheer Event
[macro bits]
tasks:
- {"channel": "alert", "message": "${event.userDisplayName} haut ${event.bits} Bits raus", "asset": "bits"}

[asset bits]
icon: 'diamond-stone'
sound: 'bits'
color: 'D500F9'
start_macros:
- start_alert_generic_animation
idle_macros:
- idle_alert_generic_animation
end_macros:
- end_alert_generic_animation

###################################
# Raid Event
[macro raid]
tasks:
- {"channel": "alert", "message": "${event.userDisplayName} raidet mit ${event.viewerCount} Leuten", "asset": "raid"}

[asset raid]
icon: 'flag-outline'
sound: 'raid'
color: 'FF7043'
lamp_color: 'raid'
channel: 'raid'
start_macros:
- start_raid_animation
idle_macros:
- idle_raid_animation
end_macros:
- end_raid_animation

[macro start_raid_animation]
tasks:
- {"channel": "animation", "method": "play", "data": {"target": "raid_animation", "startFrame": 0, "stopFrame": 207, "frameRate": 60}}
- {"channel": "function", "method": "sleep", "data": {"time": 3500}}

[macro idle_raid_animation]
tasks:
- {"channel": "animation", "method": "play", "data": {"target": "raid_animation", "startFrame": 207, "stopFrame": 430, "frameRate": 60, "loop": true}}

[macro end_raid_animation]
tasks:
- {"channel": "animation", "method": "play", "data": {"target": "raid_animation", "startFrame": 462, "stopFrame": 570, "frameRate": 60}}
- {"channel": "function", "method": "sleep", "data": {"time": 1800}}

###################################
# Sub Event
[macro sub]
tasks:
- {"channel": "alert", "message": "${event.userDisplayName} abonniert im ${event.months}. Monat auf Stufe ${plan}", "asset": "sub"}

[macro subgift]
tasks:
- {"channel": "alert", "message": "${event.gifterDisplayName} schenkt ${event.userDisplayName} ein Abo auf Stufe ${plan}", "asset": "sub"}

[macro subcommunitygift]
tasks:
- {"channel": "alert", "message": "${event.count} subs gifted from ${event.gifterDisplayName} on tier ${plan}", "asset": "sub"}

[asset sub]
icon: 'star-outline'
sound: 'sub'
color: '29B6F6'
start_macros:
- start_alert_generic_animation
idle_macros:
- idle_alert_generic_animation
end_macros:
- end_alert_generic_animation

###################################
# TTS Channelpoint
[channel_point tts]
label: 'Nachricht vorlesen'
type: macro
macro: tts_channel_point

[macro tts_channel_point]
tasks:
- {"channel": "dummy_alert", "message": "${channelPoint.userName} sagt ${channelPoint.input}", "speak": true}
- {"channel": "channel_point", "method": "accept"}

###################################
# Event Animations
[macro start_alert_generic_animation]
tasks:
- {"channel": "animation", "method": "play", "data": {"target": "generic_alert_animation", "startFrame": 0, "stopFrame": 191, "frameRate": 60}}
- {"channel": "function", "method": "sleep", "data": {"time": 3200}}

[macro idle_alert_generic_animation]
tasks:
- {"channel": "animation", "method": "play", "data": {"target": "generic_alert_animation", "startFrame": 228, "stopFrame": 327, "frameRate": 60, "loop": true}}

[macro end_alert_generic_animation]
tasks:
- {"channel": "animation", "method": "play", "data": {"target": "generic_alert_animation", "startFrame": 363, "stopFrame": 477, "frameRate": 60}}
- {"channel": "function", "method": "sleep", "data": {"time": 1900}}