###################################
# Follow Event

[asset follow]
icon: 'heart-outline'
sound: 'follow'
color: '66BB6A'
start_macros:
- start_alert_generic_animation
idle_macros:
- idle_alert_generic_animation
end_macros:
- end_alert_generic_animation

###################################
# Cheer Event

[asset bits]
icon: 'diamond-stone'
sound: 'bits'
color: 'D500F9'
start_macros:
- start_alert_generic_animation
idle_macros:
- idle_alert_generic_animation
end_macros:
- end_alert_generic_animation

###################################
# Raid Event

[asset raid]
icon: 'flag-outline'
sound: 'raid'
color: 'FF7043'
lamp_color: 'raid'
channel: 'raid'
start_macros:
- start_raid_animation
idle_macros:
- idle_raid_animation
end_macros:
- end_raid_animation

###################################
# Sub Event

[asset sub]
icon: 'star-outline'
sound: 'sub'
color: '29B6F6'
start_macros:
- start_alert_generic_animation
idle_macros:
- idle_alert_generic_animation
end_macros:
- end_alert_generic_animation

###################################
# TTS Channelpoint
[channel_point tts]
label: 'Nachricht vorlesen'
type: macro
macro: tts_channel_point