.alert-container {
    transition-duration: 0.25s;
    transition-timing-function: ease-in-out;
    height: 500px;
    width: 1600px;
    background: rgba(52, 52, 52, 0.71);
    border-radius: 20px;
    position: relative;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.alert-container.system-alert {
    border-bottom: #fb1b03 5px solid;
    box-shadow: none!important;
    background: none!important;
    height: unset!important;
    border-radius: 0;
}

.system-alert .alert-header {
    border-top: #fb1b03 5px solid;
    border-bottom: #fb1b03 5px solid;
    color: #fb1b03;
    background: rgba(52, 52, 52, 0.71);
}

.system-alert .alert-content-container {
    background: rgb(0,0,0)!important;
    background: radial-gradient(circle, rgba(0,0,0,0.1431818181818182) 0%, rgba(0,0,0,0.43181818181818177) 100%)!important;
}

.system-alert .alert-logo {
    font-size: 250px!important;
    color: #fff;
}

.alert-container.expand {
}

.alert-container.aspect {
    aspect-ratio: auto 16 / 9;
    height: unset;
}

.alert-container canvas {
    position: absolute;
    top: 0;
    left: 0;
}

.alert-container .alert-logo {
    margin-left: 150px;
    z-index: 3;
    text-shadow: 0 0 15px #000000c4;
    font-size: 300px;
}

.alert-container .alert-content {
    z-index: 3;
    width: 100%;
    padding-left: 20px;
    font-size: 60px;
    font-family: 'Orbitron', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(255, 255, 255);
}

.alert-container .alert-video-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    border-radius: 20px;
    overflow: hidden
}

.alert-container video {
    width: 100%;
    transition-duration: 0.25s;
    transition-timing-function: ease-in-out;
}

.alert-container .logo {
    margin-left: 150px;
    z-index: 3;
    height: 256px;
    width: 256px;
    border-radius: 15px;
}

.alert-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    border-radius: 20px;
    overflow: hidden
}