.alert-container {
    transition-duration: 0.25s;
    transition-timing-function: ease-in-out;
    height: 500px;
    border-radius: 20px;
    position: relative;
    margin: 20px;
    display: flex;
}

.alert-container.power-alert {
    box-shadow: 0 0 45px #000 !important;
    margin-top: 300px;
    height: unset!important;
    border-radius: 0;
}

.alert-container.power-alert,
.alert-container.system-alert {
    display: flex;
    justify-content: center;
    align-items: center;
}

.alert-container.power-alert .alert-content,
.alert-container.system-alert .alert-content {
    margin-top: unset!important;
    padding-left: 20px!important;
}

.alert-container.power-alert .alert-background,
.alert-container.system-alert .alert-background{
    display: none;
}

.alert-container .alert-background{
    top: 0;
    left: 0;
    position: absolute;
}

.alert-container.system-alert {
    box-shadow: 0 0 45px #000 !important;
    margin-top: 300px;
    border-bottom: #fb1b03 5px solid;
    height: unset!important;
    border-radius: 0;
    transform: scaleX(1) scaleY(1) scaleZ(1) rotateX(-8deg) rotateY(-20deg) rotateZ(0deg) translateX(0px) translateY(0px) translateZ(0px) skewX(0deg) skewY(2deg);
}

.system-alert .alert-header {
    border-top: #fb1b03 5px solid;
    border-bottom: #fb1b03 5px solid;
    color: #fb1b03;
    background: rgba(85, 85, 85, 0.89);
}

.system-alert .alert-content-container {
    background: rgb(0,0,0)!important;
    background: radial-gradient(circle, rgba(0, 0, 0, 0.74) 0%, rgba(0, 0, 0, 0.85) 100%)!important;
}

.power-alert .alert-content-container {
    background: rgb(39, 39, 39) !important;
}

.power-alert .alert-logo {
    margin-left: 75px!important;
    margin-right: 35px!important;
    font-size: 250px!important;
    color: #d65100;
    position: relative!important;
    top: unset!important;
    right: unset!important;
}

.system-alert .alert-logo {
    position: relative!important;
    font-size: 250px!important;
    color: #fff;
    top: unset!important;
    right: unset!important;
}

.alert-container.expand {
}

.alert-container.aspect {
    aspect-ratio: auto 16 / 9;
    height: unset;
}

.alert-container canvas {
    position: absolute;
    top: 0;
    left: 0;
}

.alert-container .alert-logo {
    margin-left: 150px;
    z-index: 4;
    text-shadow: 0 0 15px #000000c4;
    font-size: 150px;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
    position: absolute;
    right: 150px;
    top: -15px;
}

.alert-container .alert-content {
    z-index: 4;
    width: 100%;
    padding-left: 50px;
    font-size: 60px;
    font-family: 'Orbitron', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(255, 255, 255);
    word-wrap: anywhere;
    margin-top: 130px;
}

.alert-container .alert-video-container {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    overflow: hidden
}

.alert-container video {
    width: 100%;
    height: 100%;
    object-fit: cover; /* ensures video fills container */
    transition-duration: 0.25s;
    transition-timing-function: ease-in-out;
}

.alert-container .logo {
    margin-left: 150px;
    z-index: 3;
    height: 256px;
    width: 256px;
    border-radius: 15px;
}

.alert-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    border-radius: 20px;
    overflow: hidden
}

.new-alert-container .alert-content {
    position: unset;
    width: unset;
    height: unset;
    margin-top: unset;
}
.new-alert-container .alert-content .stack span {
    text-shadow: 0 0 15px black!important;
    color: var(--theme-color);
}
.new-alert-container .alert-logo {
    position: unset;
    width: unset;
    height: unset;
    margin-left: unset;
}
.new-alert-container .alert-text-container {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 3;
    display: flex;
    padding-left: 100px;
}
.alert-container-2 .new-alert-box.dynamic {
    text-overflow: clip;
    overflow: hidden;
    white-space: nowrap;
}
.new-alert-container .logo {
    position: absolute;
    top: 10px;
    right: 10px;
}
.new-alert-container iframe {
    border-radius: unset;
}

.alert-container-2 {
    justify-content: end;
}