.badge {
    /*background: rgba(52, 52, 52, 0.71);*/
    border-radius: 20px;
    position: relative;
    margin: 20px;
}

.badge canvas {
    position: absolute;
    top: 0;
    left: 0;
}

.badge .badge-container .logo {
    height: 107px;
    width: 100px;
    margin-top: 5px;
    background-size: cover;
    background-image: url("/logo.webp");
}

.badge .badge-container {
    color: white;
    padding-left: 10px;
    height: 100px;
    border-radius: 10px;
    width: 650px;
    position: relative;
    z-index: 999;
}

.badge .badge-container .badge-content {
    width: 370px;
    position: absolute;
    top: 18px;
    left: 140px;
    height: 80px;
}

.badge .badge-container.badge-full .content {
    width: 100%;
    left: 0;
}

.badge .badge-container .badge-subtitle {
    color: #e5e5e5;
    width: 100%;
    height: 50%;
    text-align: left;
    font-size: 25px;
    font-family: 'Silkscreen', sans-serif;
}

.badge .badge-container .badge-title {
    place-items: start;
    width: 100%;
    height: 60%;
    text-align: left;
    font-size: 40px;
    font-family: 'Orbitron', sans-serif;
    grid-template-columns: 1fr;
    align-items: start;
    justify-content: start;
    align-content: start;
}

.badge .badge-container .badge-title img {
    width: 370px!important;
    height: 40px!important;
    object-fit: contain;
}

.badge .expand-container {
    transition-duration: 0.25s;
    transition-timing-function: ease-in-out;
    height: 0;
}

.badge.expand .expand-container {
    height: 300px;
}

.badge .badge-background {
    position: absolute;
    top: 0;
    left: 0;
}