@font-face {
    font-family: Silkscreen;
    src: url(../fonts/Silkscreen/Silkscreen-Regular.ttf);
}

@font-face {
    font-family: Orbitron;
    src: url(../fonts/Orbitron/static/Orbitron-Regular.ttf);
}

.font-silkscreen {
    font-family: Silkscreen, sans-serif;
}

.font-orbitron {
    font-family: Orbitron, sans-serif;
}