.music-container {
    height: 100%;
    display: flex;

    color: var(--theme-color);

    font-family: Orbitron, sans-serif;
}

.music-info-container {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 1.5rem 1rem 1rem;
    max-width: 100%;
    overflow: hidden;   /* hide the scrolling overflow */
}

.music-title-container {
    display: flex;
    flex-direction: column;
}

.music-title-track {
    font-size: 4rem;
    white-space: nowrap;
}

.music-artist-track {
    font-size: 2rem;
    white-space: nowrap;
}

.music-progress {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1.5rem;
    z-index: 3;
}

.music-progress-bar,
.music-progress-container {
    height: 100%;
}

.music-thumbnail-container {
    --notch: 0;
    --right-inset: 3.75rem;
    width: calc(100vh + 50px);
    min-width: 300px;
    height: calc(100% + 10px);
    padding: 10px;
    padding-top: 0;
    padding-left: 0;
    margin-bottom: -10px;

    clip-path: polygon(
            100% 0,
            100% calc(100% - var(--right-inset)),
            calc(100% - var(--right-inset)) 100%,
            0 100%,
            0 var(--notch),
            var(--notch) 0
    );

    background: var(--theme-color);
}

.music-thumbnail {
    --notch: 0rem;
    --right-inset: 3.5rem;

    width: 100%;
    height: 100%;

    position: relative;

    clip-path: polygon(
            100% 0,
            100% calc(100% - var(--right-inset)),
            calc(100% - var(--right-inset)) 100%,
            0 100%,
            0 var(--notch),
            var(--notch) 0
    );
}