.music {
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    padding-bottom: 50px;
    background: rgba(19, 19, 19, 0.89);
}

.music .music-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.col-music-image {
    max-width: 450px!important;
}

#music-thumbnail {
    position: relative;
    overflow: hidden;
    object-fit: cover;
    height: 350px;
    width: 350px;
    border-radius: 50%;
}

.music-progress {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
}

.music-progress-container {
    background: #474747;
    position: relative;
    width: 100%;
    height: 100%;
}

.music-progress-bar {
    background: #ffffff;
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;

    /* Match or exceed the update interval for smooth flow */
    transition: width 0.25s linear;
    will-change: width; /* Hint to browser for smoother animation */
}


.music-title-container {
    position: relative;
    max-width: 100%;
    overflow: hidden;   /* hide the scrolling overflow */
    margin-right: 20px;
}

.music-title-track {
    white-space: nowrap;
}

.music-title-track.marquee {
    display: inline-block;
    will-change: transform;
    animation: marquee 14s linear infinite;
}

.music-title-text {
    color: white;
    font-size: 90px;
    line-height: 3;
}