[Unit]
Description=Stream Controller for eliteSCHW31N
StartLimitIntervalSec=0

[Service]
Type=simple
WorkingDirectory=%h/stream-overlord
ExecStart=/usr/bin/npm run start:backend

Restart=always
RestartSec=5s

[Install]
WantedBy=default.target