[Desktop Entry]
Type=Application
Name=Firefox Commander
Comment=Open Stream Commander in kiosk mode
X-GNOME-Autostart-enabled=true
Exec=/bin/sh -c 'GDK_BACKEND=x11 stream-overlord-touch --fullscreen'
